<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!--Style the base template (And the ones that inherit from this template) using a custom CSS. -->

    <link rel="stylesheet" href="/static/css/main.css">
    <!-- This didnt work for some reasion : <link rel="stylesheet" href="/static/css/main.css"> -->

    <!-- This block will be replaced by the content in the head of each html that inherits this base html template.-->
    {% block head %} {% endblock %}

</head>
<body>

    <!-- This block will be replaced by the content in the body of each html that inherits this base html template.-->
    {% block body %} {% endblock %}

</body>
</html>